/* === variables === */

:root {
    --font-family: "Montserrat", sans-serif;

    --black: #111;
    --orange: #fd9222;
    --violet: #1e1823;
    --white: #fff;
}

/* ==== general styles ==== */
body {
    font-family: var(--font-family);
    color: var(--black);
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1136px;
    padding: 0 18px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* === text styles === */

h1 {
    max-width: 484px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
}

.section-heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);

    margin-bottom: 50px;
}

.benefits-list-heading {
    font-weight: 600;
    font-size: 18px;
    color: var(--white);

    margin-bottom: 18px;
}

.made-info-heading {
    max-width: 350px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
}

.paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--black);
}

.benefits .paragraph {
    color: rgba(255, 255, 255, 0.7);
    max-width: 308px;
}

.taste-list-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white);
}

.accent {
    color: var(--orange);
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.03em;
    color: var(--black);
    text-transform: uppercase;
    font-style: italic;
    
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 30px 0;
}

.logo-span {
    font-style: normal;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--black);

    position: relative;
    padding: 30px 0;
    
    transition: color 250ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--orange);
}

/* === header === */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;
}

.nav {
    margin-left: auto;
    margin-right: 90px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-socials {
    display: flex;
    gap: 18px;
}

.header-social-link {
    fill: transparent;
    stroke: var(--black);

    transition: stroke 250ms ease-in-out;
}

.header-social-link:hover,
.header-social-link:focus {
    stroke: var(--orange);
}

/* === hero === */

.hero {
    padding: 0 72px;
    background-color: var(--violet);
    background-image:linear-gradient(rgba(30, 24, 35, 0.4),
            rgba(30, 24, 35, 0.4) ) ,url(../images/hero/hero-background-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 72px;
}

.hero-container {
    padding-top: 381px;
    padding-bottom: 40px;
}

.hero-btns {
    display: flex;
    align-items: center;

    margin-top: 32px;
}

.btn {
    font-weight: 600;
    font-size: 14px;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--orange);
    min-width: 144px;
    height: 45px;
    border: none;
    border-radius: 100px;

    padding: 14px 40px;
    cursor: pointer;
    transition: color 250ms ease-in-out,
                background-color 250ms ease-in-out;
}

.btn.hero-btn {
    margin-right: 14px;
}

.btn:hover,
.btn:focus {
    color: var(--orange);
    background-color: #fcf1e0;
}

.scroll-to {
    font-weight: 600;
    font-size: 14px;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 183px;
    height: 45px;
    border-radius: 100px;
    border: 1px solid var(--white);
    transition: color 250ms ease-in-out,
                border-color 250ms ease-in-out;
}

.scroll-to:hover,
.scroll-to:focus {
    color: var(--orange);
    border-color: var(--orange);
}


.scroll-down-btn {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: var(--white);

    margin-left: auto;
    transition: color 250ms ease-in-out;
}

.scroll-down-btn:hover,
.scroll-down-btn:focus {
    color: var(--orange);

    .scroll-down-span {
        fill: var(--white);
        background-color: var(--orange);
    }
}

.scroll-down-span {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
    width: 38px;
    height: 38px;
    border-radius: 50%;

    fill: var(--orange);

    margin-left: 14px;
    transition: fill 250ms ease-in-out,
                background-color 250ms ease-in-out;
}

/* === benefits section === */

.benefits {
    background-color: var(--violet);
    padding: 50px 0;
}

.benefits .section-heading {
    color: var(--white);
}

.benefits-list {
    display: flex;
    gap: 70px;
}

.benefits-list-item {
    position: relative;
    width: calc((100% - 140px) / 3);
}

.benefits-list-item:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 60px;
    right: 0;

    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);
}

.benefits-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--orange);

    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;

    margin-bottom: 22px;
}

/* === taste section === */

.taste {
    padding: 100px 0 50px 0;
}

.taste-container {
    padding: 0;
}

.taste .section-heading {
    max-width: 411px;
    margin: 0 auto 28px auto;
}

.taste .paragraph {
    text-align: center;
    max-width: 486px;
    margin: 0 auto 50px auto;
}

.taste-list {
    display: flex;
    gap: 19px;
}

.taste-list-item {
    background-color: var(--orange);
    flex-basis: calc(100% - 57px) / 4;
    height: 270px;
    padding: 28px 32px;
    border-radius: 15px;
}

.taste-list-item:nth-child(even) {
    .taste-list-text {
        color: var(--black);
    }
    background-color: var(--white);
    border: 1px solid var(--orange);
}

.taste-list-item:nth-child(3n) {
    background-color: var(--black);
}

.taste-img {
    width: 100%;
    padding-bottom: 36px;
}

.taste-list-text {
    color: var(--white);
    text-transform: uppercase;
}

/* === made section === */

.made {
    padding: 50px 0;
}

.made .container {
    padding: 0;
}

.made-info {
    display: flex;
    gap: 20px;
}

.made-img {
    width: 600px;
    height: 400px;
    border-radius: 15px;
}

.made-receipt {
    width: 100%;
    background-color: var(--white);
    border-radius: 15px;
    padding: 32px;
    padding-right: 0;
}

.made-info-heading {
    margin-bottom: 28px;
}

.made-list-item {
    position: relative;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: var(--black);

    max-width: 425px;
    margin-left: 16px;
    padding-bottom: 24px;
}

.list-style-point {
    position: absolute;
    top: -1px;
    left: -16px;
}

/* === testimonials section === */

.testimonials {
    padding: 50px 0 100px 0;
}

.testimonials .container {
    padding: 0;
}