<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="#">
        <p><span class="logo-accent">Simply</span> Chocolate</p>
        <svg class="logo-icon" width="21" height="21">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="nav-list hidden">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#made">How it's made?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feedbacks">Chocolate is loved</a>
        </li>
        </li>
      </ul>
      <address class="address hidden">
        <ul class="address-list">
          <li class="address-item">
            <a class="address-link" href="https://www.instagram.com/">
              <svg class="address-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="address-item">
            <a class="address-link" href="">
              <svg class="address-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>

      <button class="nav-menu-open" data-menu-open>
        <svg class="nav-menu-open-icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>

      <div class="mobile-menu hidden">
        <div class="mobile-menu-container container">
          <button class="nav-menu-close" data-menu-close>
            <svg class="mobile-menu-close-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-close"></use>
            </svg>
          </button>

          <ul class="mobile-menu-nav-list">
            <li>
              <a href="#">Home</a>
              <a href="#made">How it’s made?</a>
              <a href="#feedbacks">Chocolate is loved</a>
            </li>
          </ul>

          <address class="mobile-menu-address">
            <ul class="mobile-menu-address-list">
              <li class="mobile-menu-address-item">
                <a class="mobile-menu-address-link" href="https://www.instagram.com/">
                  <svg class="mobile-menu-address-icon" width="22" height="22">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
                <a class="mobile-menu-address-item" href="https://x.com/?lang=en">
                  <svg class="mobile-menu-address-icon" width="22" height="22">
                    <use href="./img/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </address>
        </div>
      </div>
    </nav>
  </div>
</header>
