<section class="hero">
  <div class="container">
    <h1 class="main-heading">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="buttons">
      <button class="btn-buy"></button>
      <a class="btn-link" href="#made">How it’s made</a>
    </div>
    <a class="scroll-down-link" href="#benefits">
      <span class="scroll-down-text">scroll down</span>
      <div class="btn-scroll-down">
        <svg class="btn-scroll-down-icon" width="22" height="22">
          <use href="./img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </div>
    </a>
  </div>
</section>