<section class="hero">
  <div class="container">
    <h1 class="main-heading">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="buttons">
      <div class="buttons-top">
        <button class="btn-buy">Buy now</button>
        <a class="btn-link" href="#made">How it’s made</a>
      </div>
      <a class="scroll-down-link" href="#benefits">
        <span class="scroll-down-text">scroll down</span>
        <div class="btn-scroll-down">
          <svg class="btn-scroll-down-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
