:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 129%;
  font-weight: 400;

  /* colors */

	--black: #111;
	--orange: #fd9222;
	--violet: #1e1823;
	--white: #fff;

  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.section-heading {
  font-size: 20px;
  font-weight: 600;
}