:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;

  /* colors */

	--black: #111;
	--orange: #fd9222;
	--violet: #1e1823;
  --cream: #fcf1e0;
	--white: #fff;

  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-heading {
  font-size: 20px;
  font-weight: 500;

  color: var(--white);

  margin-bottom: 32px;
}

.section-heading {
  font-size: 20px;
  font-weight: 600;

  text-transform: uppercase;
  text-align: center;
}

.sub-heading {
  font-size: 18px;
  font-weight: 600;
}

.text-accent {
  color: var(--orange);
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-heading {
    font-size: 24px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap; /* Adds extra class for focus handling */
  border: 0;
}