.benefits {
  background-color: var(--violet);
  margin: 60px 0 30px 0;
  padding: 20px 0;
}

.benefits-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.benefits-card-item {
  padding-right: 28px;
}

.benefits-card-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 62px;
  height: 62px;

  border: 1px solid var(--white);
  border-radius: 100%;

  fill: var(--orange);

  margin-bottom: 22px;
}

.benefits-card-text .sub-heading {
  color: var(--white);
  margin-bottom: 18px;
}

.benefits-text {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }

  .benefits-card-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }

  .benefits-card-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits .container {
    padding: 0 50px;
  }

  .benefits-card-list {
    gap: 70px;
    margin-bottom: 0;
  }

  .benefits-card-item {
    position: relative;
    width: calc((100% - (70px * 2)) / 3);
  }

  .benefits-card-item:not(:last-child)::after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    right: 0px;

    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);

    transform: translateY(-50%);
  }
}