.feedbacks {
  padding: 40px 0;
}

.feedbacks .section-heading {
  margin-bottom: 74px;
}

.feedbacks .swiper-slide {
  position: relative;
  text-align: center;
  background-color: #fff;

  padding: 56px 18px 42px 18px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.feedbacks-profile-pic {
  position: absolute;
  top: -50%;
  left: 50%;

  width: 80px;
  height: 80px;

  border-radius: 100%;

  transform: translate(-50%, 50%);
}

.feedbacks .sub-heading {
  margin-bottom: 24px;
}

.feedbacks-text {
  opacity: 0.7;
}
