.footer {
  padding: 32px 0;
  margin-top: 30px;

  color: var(--white);
  background-color: var(--violet);
}

.footer-heading {
  font-size: 24px;
  font-weight: 500;

  max-width: 300px;

  margin-bottom: 32px;
}

.footer .address {
  position: relative;
  display: block;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.footer .address::after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .contacs-heading {
  font-weight: 500;

  margin-bottom: 14px;
}

.footer .address-list-item {
  font-style: normal;
}

.footer .address-list-item:first-child {
  margin-bottom: 4px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-nav-link {
  font-weight: 500;

  transition: color 250ms cubic-bezier(0, 4, 0, 0.2, 1);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--orange);
}

.footer-form {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.footer .form-input {
  padding: 14px 18px;
  width: 100%;

  color: var(--white);

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  background-color: transparent;
  outline: none;
}

.footer .form-input:focus {
  border: 1px solid var(--orange);
}

.footer .form-btn {
  display: block;
  padding: 14px 24px;

  font-weight: 600;
  color: var(--white);
  background-color: var(--orange);

  border: none;
  border-radius: 100px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .form-btn:hover,
.footer .form-btn:focus {
  color: var(--orange);
  background-color: var(--cream);
}
