.hero {
  padding: 395px 0 20px 0;
  background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    image-set(
      url(/img/tab-mob/hero-mob-min.png) 1x,
      url(/img/tab-mob/hero-mob@2x-min.png) 2x
    );
  background-size: cover;
  background-position: center;

  border-radius: 30px;
}

.hero .container {
  padding: 0 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttons-top {
  display: flex;
  gap: 14px;
}

.btn-buy {
  width: 120px;
  height: 40px;

  border-radius: 100px;

  font-weight: 600;
  color: var(--white);
  background-color: var(--orange);
}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 159px;
  height: 40px;

  font-weight: 600;
  color: var(--white);

  border: 1px solid var(--white);
  border-radius: 100px;
}

.scroll-down-link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.scroll-down-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
}

.btn-scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 100%;

  background-color: var(--white);
  fill: var(--orange);
}