.hero {
  max-width: 375px;
  padding: 395px 0 20px 0;
  background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    image-set(
      url(/img/tab-mob/hero-mob-min.png) 1x,
      url(/img/tab-mob/hero-mob@2x-min.png) 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 30px;
  margin: 0 auto;
  margin-top: 65px;
}

.hero .container {
  padding: 0 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttons-top {
  display: flex;
  gap: 14px;
}

.btn-buy {
  width: 120px;
  height: 40px;

  border: none;
  border-radius: 100px;

  font-weight: 600;
  color: var(--white);
  background-color: var(--orange);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-buy:hover,
.btn-buy:focus {
  color: var(--orange);
  background-color: var(--cream);
}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 159px;
  height: 40px;

  font-weight: 600;
  color: var(--white);

  border: 1px solid var(--white);
  border-radius: 100px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0, 4, 0, 0.2, 1);
}

.btn-link:hover,
.btn-link:focus {
  color: var(--orange);
  border-color: var(--orange);
}

.scroll-down-link {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 110px;
}

.scroll-down-link:hover .scroll-down-text,
.scroll-down-link:focus .scroll-down-text {
  color: var(--orange);
}

.scroll-down-link:hover .btn-scroll-down,
.scroll-down-link:focus .btn-scroll-down {
  fill: var(--white);
  background-color: var(--orange);
}

.scroll-down-text {
  color: var(--white);
  font-size: 12px;
  font-weight: 500;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 100%;

  background-color: var(--white);
  fill: var(--orange);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero .container {
    padding: 0 72px;
  }

  .hero {
    max-width: 768px;
    padding: 671px 0 40px 0;
    background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      image-set(
        url(/img/tab-mob/hero-tab-min.png) 1x,
        url(/img/tab-mob/hero-tab@2x-min.png) 2x
      );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 80px;
  }

  .buttons {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    padding-top: 381px;
    background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      image-set(
        url(/img/desktop/hero-desk-min.png) 1x,
        url(/img/desktop/hero-desk@2x-min.png) 2x
      );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
