.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: #00000080;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  background-color: var(--white);
  padding: 32px 24px;

  border-radius: 15px;
  max-width: 311px;
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  transform: scale(1.1);
}

.modal-close-btn::before,
.modal-close-btn::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--black);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn::before {
  transform: rotate(45deg);
}

.modal-close-btn::after {
  transform: rotate(-45deg);
}

.modal-close-btn:hover::before,
.modal-close-btn:hover::after {
  background-color: var(--orange);
}

.modal-heading {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;

  line-height: 120%;
  letter-spacing: -0.03em;

  max-width: 258px;
  margin-top: 10px;
  margin-bottom: 32px;
}

.modal-form-item {
  width: 100%;
}

.modal-form-label {
  font-size: 13px;
  color: rgba(64, 64, 64, 0.3);

  display: block;
  margin-bottom: 4px;
}

.form-input-container {
  position: relative;
  width: 100%;
}

.modal-form-input,
.form-textarea {
  display: block;
  width: 100%;
  padding: 15px 20px 15px 43px;

  outline: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.form-textarea:focus {
  border-color: var(--orange);
}

.modal-form-input:focus + .form-input-icon {
  stroke: var(--orange);
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 18px;

  transform: translateY(-50%);
  fill: none;
  stroke: var(--black);

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-item {
  margin-bottom: 14px;
}

.form-textarea {
  resize: none;
  padding: 14px 18px;
  height: 90px;
}

.form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.modal-form-label-privacy {
  display: flex;
  align-content: center;
  font-size: 12px;
  color: rgba(64, 64, 64, 0.6);

  gap: 12px;
}

.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  flex-shrink: 0;

  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;

  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text a {
  color: var(--orange);
  text-decoration: underline;
}

.hidden-checkbox:checked + .modal-form-label-privacy > .checkbox {
  border: none;
  background-color: var(--orange);
  fill: var(--white);
}

.modal-form-btn {
  display: block;
  padding: 12px 28px;
  border: none;
  border-radius: 100px;

  font-weight: 600;
  color: var(--white);
  background-color: var(--orange);

  margin-top: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover {
  color: var(--orange);
  background-color: var(--cream);
}

@media screen and (min-width: 768px) {
  .modal-container {
    max-width: 517px;
    width: 517px;
    padding: 40px;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }

  .modal-close-btn::before,
  .modal-close-btn::after {
    width: 24px;  
  }

  .form-input-icon {
    width: 28px;
    height: 28px;
    left: 24px;
  }

  .modal-heading {
    max-width: 298px;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .modal-form-item {
    margin-bottom: 18px;
  }

  .modal-form-label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .modal-form-input {
    font-size: 18px;
    padding: 22px 22px 22px 62px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
  }

  .form-textarea {
    height: 137px;
  }

  .checkbox-text {
    font-size: 14px;
    align-self: center;
  }

  .form-textarea,
  .form-textarea::placeholder {
    font-size: 18px;
  }

  .modal-form-btn {
    padding: 14px 40px;
  }
}
