.taste {
  padding: 30px 0;
}

.taste .section-heading {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.taste-text {
  text-align: center;
  max-width: 335px;
  margin: 0 auto;
}

.taste-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;

  margin-top: 32px;
}

.taste-card-item {
  position: relative;
  padding: 28px;
  width: 100%;

  border: 1px solid transparent;
  border-radius: 15px;

  overflow: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.taste-card-item:nth-child(1) {
  order: 1;
}

.taste-card-item:nth-child(2) {
  order:2
}

.taste-card-item:nth-child(3) {
  order: 3;
}

.taste-card-item:nth-child(4) {
  order: 4;
}

.taste-card-item:hover .overlay-content {
  opacity: 1;
}

.taste-card-item:nth-child(odd) {
  background-color: var(--black);
}

.taste-card-item:nth-child(even) {
  color: var(--black);
  border-color: var(--orange);
}

.taste-card-item:first-child {
  background-color: var(--orange);
}

.taste-card-image {
  width: 224px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.taste-card-text {
  font-weight: 600;
  text-transform: uppercase;
  align-self: flex-start;
}

.taste-card-item:nth-child(odd) .taste-card-text {
  color: var(--white);
}

.taste-card-item:hover {
  border-color: transparent;
  background-color: transparent;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;

  padding: 28px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--white);

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-content .sub-heading {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.tag-accent,
.tag-transparent {
  font-size: 10px;
  
  padding: 6px 16px;
  border: 1px solid transparent;
  border-radius: 35px;
}

.tag-accent {
  color: var(--white);
  background-color: var(--orange);
  margin-right: 6px;
}

.tag-transparent {
  border: 1px solid var(--orange);
}

.overlay-text {
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .taste {
    padding: 40px 0;
  }

  .taste .section-heading {
    max-width: 411px;
    margin-bottom: 28px;
  }

  .taste-text {
    max-width: 486px;
  }

  .taste-card-list {
    gap: 33px;
  }

  .taste-card-item {
    width: calc((100% - 33px) / 2);
  }

  
  .taste-card-item:nth-child(1){
    order: 1;
  }

  .taste-card-item:nth-child(2){
    order: 3;
  }

  .taste-card-item:nth-child(3){
    order: 4;
  }

  .taste-card-item:nth-child(4){
    order: 2;
  }
}

@media screen and (min-width: 1200px) {
  .taste {
    padding: 50px 0;
  }

  .taste-card-list {
    gap: 19px;
  }

  .taste-card-item {
    width: calc((100% - (19px * 3)) / 4);
  }

  .taste-card-item:nth-child(1){
    order: 1;
  }

  .taste-card-item:nth-child(2){
    order: 2;
  }

  .taste-card-item:nth-child(3){
    order: 3;
  }

  .taste-card-item:nth-child(4){
    order: 4;
  }

  .overlay-content {
    padding: 20px;
  }
}