.taste {
  padding: 30px 0;
}

.taste .section-heading {
  margin-bottom: 24px;
}

.taste-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin-top: 32px;
}

.taste-card-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  padding: 28px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.taste-card-image {
  width: 224px;
}

.taste-card-text {
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  align-self: start;
}

.taste-card-item:nth-child(even) {
  background-color: #fff;
}

.taste-card-item:nth-child(even) .taste-card-text {
  color: var(--black);
}

.taste-card-item:nth-child(odd) {
  background-color: var(--black);
}

.taste-card-item:first-child {
  background-color: var(--orange);
}

.taste-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
  border: 1px solid var(--orange);
  border-radius: 15px;
  
  background-color: var(--white);

  padding: 28px;

  transform: translateY(100vw);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.taste-card-item:hover .taste-card-overlay {
  transform: translateY(0);
}

.taste-card-overlay .sub-heading {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.taste-card-overlay-tags {
  margin-bottom: 28px;
}

.taste-card-overlay .tag-accent {
  color: var(--white);
  
  padding: 6px 16px;
  margin-right: 6px;
  background-color: var(--orange);

  border: none;
  border-radius: 35px;
}

.taste-card-overlay .tag-transparent {
  padding: 6px 16px;
  border: 1px solid var(--orange);
  border-radius: 35px;
}