.taste {
  padding: 30px 0;
}

.taste .section-heading {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.taste-text {
  text-align: center;
  max-width: 335px;
  margin: 0 auto;
}

.taste-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;

  margin-top: 32px;
}

.taste-card-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  padding: 28px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.taste-card-image {
  width: 224px;
}

.taste-card-text {
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  align-self: start;
}

.taste-card-item:nth-child(even) {
  background-color: #fff;
}

.taste-card-item:nth-child(even) .taste-card-text {
  color: var(--black);
}

.taste-card-item:nth-child(odd) {
  background-color: var(--black);
}

.taste-card-item:first-child {
  background-color: var(--orange);
}

.taste-card-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  padding: 28px;

  width: 100%;
  height: 100%;
  /* border: 1px solid var(--orange); */
  border-radius: inherit;

  background-color: var(--white);

  transform: translateY(100vw);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.taste-card-item:hover .taste-card-overlay {
  transform: translateY(0);
}

.taste-card-overlay .sub-heading {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.taste-card-overlay-tags {
  margin-bottom: 14px;
}

.taste-card-overlay .tag-accent {
  font-size: 10px;
  color: var(--white);

  padding: 6px 16px;
  margin-right: 6px;
  background-color: var(--orange);

  border: none;
  border-radius: 35px;
}

.taste-card-overlay .tag-transparent {
  font-size: 10px;
  padding: 6px 16px;
  border: 1px solid var(--orange);
  border-radius: 35px;
}

@media screen and (min-width: 768px) {
  .taste {
    padding: 40px 0;
  }

  .taste .section-heading {
    max-width: 411px;
    margin-bottom: 28px;
  }

  .taste-text {
    max-width: 486px;
  }

  .taste-card-list {
    margin-top: 50px;
    gap: 32px;
  }

  .taste-card-item {
    width: calc((100% - (32px * 2)) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .taste {
    padding: 50px 0;
  }

  .taste-card-list {
    gap: 19px;
  }

  .taste-card-item {
    width: calc((100% - (19px * 3)) / 4);
  }

  /* .taste-card-overlay {
    padding: 20px;
  } */
}